# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
.env

# IDE & OS files
.idea/
.vscode/
*.DS_Store

# Build artifacts
*.zip
submission_main.py

# Сгенерированные данные
# Мы не храним индексы в гите! Они генерируются скриптом.
storage/

*.csv